* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-body {
  font-size: 12px;
  margin: 0;
  color: #a7a7a7;
}

.text-body:nth-child(2n) {
  margin-top: 8px;
}

.text-small {
  font-size: 10px;
  margin: 8px 0;
}

.footer-date {
  color: grey;
}

.footer-attempt {
  color: red;
}

.dados-cliente > div:not(:last-child) {
  border-right: 2px solid #dadada;
}

.tabela-seguradoras th,
.tabela-seguradoras td {
  font-size: 12px;
  color: #000;
  text-align: center;
  border: 1.5px solid #dadada;
  padding: 8px 16px;
}

.tabela-seguradoras th {
  font-weight: bold;
  color: grey;
}

.tabela-seguradoras td img {
  width: 100px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 4px;
}

.tabela-seguradoras td p {
  font-size: 10px;
  color: grey;
  margin: 0;
}

.bg-recommend {
  background-color: #0091b126;
}

.recommend {
  color: #0091b1;
}

.not-recommend {
  color: #cacaca;
}
